<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calendar Working</h1>
    <form method="post" action="/">
        <div>
            <label>Private</label>
            {{form.private()}}
        </div>
        <label>Name</label>
        <p>{{form.name()}}</p>
        <label>Start Date</label>
        <p>{{form.start_date()}}</p>
        <label>Start Time</label>
        <p>{{form.start_time()}}</p>
        <label>End Date</label>
        <p>{{form.end_date()}}</p>
        <label>End Time</label>
        <p>{{form.end_time()}}</p>
        <label>Description</label>
        <p>{{form.description()}}</p>
        <p>{{form.submit()}}</p>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for item in rows %}
                <td>{{item[1]}}</td>
                <td>{{item[2].strftime("%H:%M")}}</td>
                <td>{{item[3].strftime("%H:%M")}}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
